<?xml version="1.0"?>
<configuration>
  <appSettings file="Adaptors/Adaptors.config" />
  <system.web>
    <!-- Open up the Maximum Request Size and the Connection Timeout -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="86400" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>