<!--include:head.html-->
<h1><!--title--></h1>
    <blockquote>
        <p>
            Hello, <!--name--> (to access a different account, <a href=?logout=true>sign out</a>).
            <!--adminLink-->
        </p>
<p>You may <a href="/openid">return</a> to the main page at any time.</p>
<p>
You can create and download a USVAO credential (X.509 certificate and private key)
that can be loaded directly into applications that run directly on your
machine&#8212;such as a web browser.  This will be a so-called
"end-entity" certificate (i.e. not a proxy) and an associated private key that will
together be packaged in either the <a href="http://en.wikipedia.org/wiki/PKCS">PKCS12</a>
or <a href="http://en.wikipedia.org/wiki/X.509#Certificate_filename_extensions">PEM</a>
format.
</p>
    </blockquote>
    <!--feedback-->
    <br>

<form action="<!--action-->" method="POST">
<blockquote>
    <input type="hidden" name="origin" value="cred">
   <table width="100%" cellspacing="0" cellpadding="0" border="0">
     <tr>
        <td>Lifetime: </td>
        <td><select name="lifehours">
              <option selected value="8760">1 year</option>
              <option value="720">1 month</option>
              <option value="24">1 day</option>
              <option value="12">12 hours</option>
              <option value="3">3 hours</option>
            </selected> </td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>The time before 
            the certificate expires</em></font></td>
     </tr>
     <tr>
        <td nowrap="1">Package Key: &nbsp;&nbsp; </td>
        <td><input type="password" name="pkcskey" size="12"></td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>A password for 
            sealing the credential file that will be downloaded.  You will need 
            this when you load the certificate into your application.
            </em></font></td>
     </tr>
     <tr>
	<td nowrap="1">Format:</td>
        <td>
	  <label accesskey="k"><input type="radio" name="format" value="PKCS12" checked title="PKCS12"/> PKCS12</label>
	</td>
        <td>&nbsp;&nbsp;</td>
        <td>
	  <font color="green" size="-1"><em>Preferred by browsers and Java.</em></font>
	</td>
     </tr>
     <tr>
	<td></td>
        <td>
	  <label accesskey="m"><input type="radio" name="format" value="PEM" title="PEM"/> PEM</label>
	</td>
        <td>&nbsp;&nbsp;</td>
        <td>
	  <font color="green" size="-1"><em>Commonly used by grid computing tools.</em></font>
	</td>
     </tr>
     <tr>
        <td nowrap="1">Account Password: &nbsp;&nbsp; </td>
        <td><input type="password" name="password"></td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>The password to your account
            </em></font></td>
     </tr>
     <tr>
        <td></td>
        <td colspan="3">
	  <input type="hidden" name="format" value="pkcs12"/>
	  <input type="submit" value="Download Credential"/>
	</td>
     </tr>
   </table>
</blockquote>
</form>
<p id="demo">This is a paragraph.</p>

<script language="javascript">
document.getElementById("demo").innerHTML=Date();
</script>
<!--include:foot.html-->
