<tr>
    <td class="grid" style="text-align:right" title="<!--relyingURL-->"><strong><!--relyingName--></strong></td>
    <td class="grid" title="<!--username-->"><!--usernameInput--></td>
    <td class="grid" title="<!--name-->"><!--nameInput--></td>
    <td class="grid" title="<!--email-->"><!--emailInput--></td>
    <td class="grid" title="<!--phone-->"><!--phoneInput--></td>
    <td class="grid" title="<!--institution-->"><!--institutionInput--></td>
    <td class="grid" title="<!--country-->"><!--countryInput--></td>
    <td class="grid" title="<!--credential-->"><!--credentialInput--></td>
    <td class="grid" style="background:#ffd"><!--ssoInput--></td>
</tr>
