<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Publishing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
        <add key="userDecrypt" value="" />
        <add key="SqlAdminConnection" value="" />
        <add key="SqlConnection" value="" />
        <add key="VAOLoginEndpoint" value="https://sso.usvao.org/openid/provider_id" />
        <add key="VAOLoginRegistrationEndpoint" value="https://sso.usvao.org/register/register.jsp" />
        <add key="VAOLoginRealm" value="http://*.stsci.edu"/>
    </appSettings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>

		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <sessionState cookieless="UseCookies" /></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
 <applicationSettings>
  <Publishing.Properties.Settings>
   <setting name="dbAdmin" serializeAs="String">
    <value></value>
   </setting>
   <setting name="baseURL" serializeAs="String">
    <value>http://vaotest.stsci.edu/directory_publishing</value>
   </setting>
   <setting name="useCache" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="resumptionTokenLimit" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="userDecrypt" serializeAs="String">
    <value></value>
   </setting>
   <setting name="log_location" serializeAs="String">
    <value>d:\webdata\nvo</value>
   </setting>
  </Publishing.Properties.Settings>
</applicationSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="VAOLogin.aspx" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
