<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="registry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="registry.Properties.Settings.SqlConnection" connectionString="" />
        <add name="registry.Properties.Settings.SqlAdminConnection" connectionString="" />
    </connectionStrings>
    <applicationSettings>
        <registry.Properties.Settings>
            <setting name="dbAdmin" serializeAs="String">
                <value></value>
            </setting>
            <setting name="log_location" serializeAs="String">
                <value></value>
            </setting>
            <setting name="vdir" serializeAs="String">
                <value></value>
            </setting>
            <setting name="baseURL" serializeAs="String">
                <value></value>
            </setting>
            <setting name="useCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resumptionTokenLimit" serializeAs="String">
                <value>100</value>
            </setting>
        </registry.Properties.Settings>
    </applicationSettings>
</configuration>