<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>
	<webServices>
       		<protocols>
            		<add name="HttpGet"/>
            		<add name="HttpPost"/>
        	</protocols>
    </webServices>

    <customErrors 
    mode="Off" 
    />
 </system.web>
<appSettings>
	<!-- SQL Connection Parameters -->

	<add key="SqlConnection.String" value="Initial Catalog=; Data Source=; User Id=; Password=" />
  <add key="SqlAdminConnection.String" value="Initial Catalog=; Data Source=; User Id=; Password=" />
  <add key="node_id" value="NVORegistry"/>
  <add key="primary_table" value="resource"/>
  <add key="primary_table_key" value="dbid"/>
  <add key="sigma" value="0.1"/>
  <add key="log_location" value="c:\blah"/>
  <add key="vdir" value="c:\blah"/>
  <add key="regionXsl" value="c:\projects\nvonew\region.xsl"/>
  <add key="baseURL" value="http://nvo.stsci.edu/vor10/" />
  <add key ="resumptionTokenLimit" value="100"/>
  <add key="dbAdmin" value=""/>
  <add key="useCache" value="true"/>
</appSettings>

</configuration>
