<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<!-- connection string for Log table-->
      <!--This should be a read-only user. A write-privileged user is listed in "admin" below.-->
      <add key="SqlConnection.String" value="" />
      <!--This is a write-privileged user. It is used by the admin functions which require a password.-->
      <add key="SqlAdminConnection.String" value=""  />
      <!-- where to replicate from and where to put it -->
  	<add key="dbAdmin" value=""/>
	  <add key="log_location" value=""/>
 	  <add key="baseURL" value="" />
   </appSettings>
</configuration>
