<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!--headstart-->
<title>VAO Login - Error Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--extraMetas-->
<!--include:styles.include-->
<link href="<!--rootPath-->/openid.css" type="text/css" rel="stylesheet">

<!--extraScripts-->
<style>

</style>
</head>
<body class="login">

<script type="text/javascript" src="/styles/jquery.min.js"></script>
<script type="text/javascript">
function makeStatusHTML(status) {
    var htmlt = "";
    if (status.state == "in") {
        htmlt += status.username;
        htmlt += " &nbsp;&nbsp;Time left: ";
        htmlt += status.dispLeft;
        htmlt += ' &nbsp;&nbsp;<a href="/openid/?logout=true">Logout</a> ';
    }
    else if (status.state == "expired") {
        htmlt += "Expired session as ";
        htmlt += status.username;
    }
    else {
        htmlt += 'Logged out';
        htmlt += ' &nbsp;&nbsp;<a href="?signin=true">Login</a>&nbsp;&nbsp;<a href="/register/">Register</a>'
    }
    return htmlt;
}

function displayStatus(status) {
    jQuery("#loginStatus")[0].innerHTML = makeStatusHTML(status);
}

jQuery(document).ready(function() {
    jQuery.getJSON("/openid/loginStatus", displayStatus);
})
</script>

<table cellpadding="3" cellspacing="3">
<tr>
  <td valign="top">
      <a href="http://www.usvao.org/"><img src="/images/VAOwords_200.png" width="90" height="50"></a>
  </td>
  <td valign="top">
	<h1>
        An Error has Occurred
        </h1>
  </td>
</tr>
</table>

<table id="brief-nav" cellpadding="3" cellspacing="3" width="100%">
<tr>
  <td width="50">
	<a href="/">About</a></td>
  <td>
	<a href="/register/register.jsp">Create New Account</a></td>
  <td>
	<a href="/register/password.jsp">Forgot password</a></td>
  <td>
	<a href="/register/password.jsp">Change password</a></td>
  <td width="50">
	<a href="/help/faq.html">Help</a></td>
</tr>
</table>

  <div style="height:10px">&nbsp;</div>

<blockquote>
    <!--feedback-->
</blockquote>

<div style="height:5px">&nbsp;</div>

<div id="status-bar">&nbsp;&nbsp;<span class="login-label">Status:</span>&nbsp;
<span id="loginStatus" align="center" > Unknown </span></div>

<div style="height:5px">&nbsp;</div>

<center>
<p style="font-size: 75%; margin-left: 11px;">
This page is served from  
<b>sso.usvao.org</b>, 
<a href="/help/faq.html#phish">verified by Internet2/InCommon</a>
</p>
</center>

</body>
</html>


