<?xml version="1.0"?>
<configuration>
	<!--==================-->	
	<!-- Log4net Settings -->
	<!--==================-->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        	<file value="Logs/Mashup" />
			<staticLogFileName value="false" />
        	<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="_yyyy_MM_dd'.txt'" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
			</layout>
		</appender>
    	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      		<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
      		</layout>
    	</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<threshold value="FATAL"/>
			<to value="##########@txt.att.net" />
			<from value="mashup@stsci.edu" />
			<subject value="Mashup Error Occurred" />
			<smtpHost value="smtp.stsci.edu" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%property{log4net:HostName} : %d %20.20c{1} %-20.20M [%-5.5p] %m%n "/>
      		</layout>
		</appender>
    	<root>
			<!-- Logging Levels: DEBUG, INFO, WARN, ERROR, FATAL   -->
			<!-- NOTE: Lower level also include all higher levels  -->
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
      		<appender-ref ref="TraceAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>
	</log4net>
	<!--==========================================================================================================================-->
	<!-- Mashup App Settings:                                                                                                     -->
	<!-- Adaptors Config: 		Relative Pathname to Adaptors Config Json File, defining each Service Adaptor Object.             -->
	<!-- Columns Config: 		Relative Pathname to ColumnsConfig Json File defining additional column properties on DataSets.   -->
	<!-- CacheTimeoutMinutes: 	Minutes each Response Object is held in Web Cache before it expires and is automatically removed. -->
	<!-- MailTo:				Email Address for Mashup Exceptions                                                               -->
	<!-- MailSmtpServer:	    Email Smtp Server used for emails                                                                 -->
	<!--==========================================================================================================================-->
	<appSettings>
		<!-- NOTE: All paths below are relative from the Mashup Application Root -->
		<add key="TempDir" value="Temp/" />
		<add key="AdaptorsConfig" value="Config/AdaptorsConfig.json"/>
		<add key="ColumnsConfig" value="Config/ColumnsConfig.json"/>
		<add key="CacheTimeoutMinutes" value="30" />
		<add key="MailTo" value="" />
		<add key="MailFrom" value="mast-exception@stsci.edu" />
		<add key="MailSmtpServer" value="smtp.stsci.edu" />
		<add key="MailBurstDiscardSeconds" value="20" />
	</appSettings>
	<system.web>
		<!--=====================================================-->
		<!-- Generate Actual Error Messages from deployed Server -->
		<!--=====================================================-->
		<customErrors mode="Off"/>
		<!--=============================================================-->
		<!-- Maximum Request Size, Connection Timeout, Request Validator -->
		<!--=============================================================-->
		<httpRuntime maxRequestLength="1048576" executionTimeout="86400" requestValidationType="Mashup.MashupRequestValidator" />
		<!--====================-->
		<!-- Request Validation -->
		<!--====================-->
		<!-- Above we set our custom request Validator to class Mashup.MashupRequestValidator.
		     Without this, some requests look too much like html and the server gives the following error:
			 "A potentially dangerous Request.QueryString value was detected from the client"
		     Even putting simple html like <b> in the search box will trigger that error, but it was more
		     problematic for our export feature, which POSTs a bunch of data that can trigger this error depending
		     on the content of the data.  
		     Trying to export the results of a Quick Search of M101 caused the problem, for example:
		     (In JIRA see http://help.usvao.org:8080/browse/VAOPD-185)
		     (In JIRA see http://help.usvao.org:8080/browse/VAOPD-528)
		 -->
		<!--==============================-->
		<!-- Enable GET and POST Requests -->
		<!--==============================-->
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<!--===============================-->
    	<!-- Debugging under Visual Studio -->
		<!--===============================-->
		<compilation debug="true">
			<assemblies>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.ServiceModel.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
