/* Inherited from sso.css - shrink things a bit to fit the main part of the page
 * on one screen, even on a 600-pixel-tall display.  Currently it's about 450
 * pixels */
.divider { margin:0.7em 0; padding: 0 }
h1,h2,h3,h4,h5,h6 { margin-top: 0.4em; margin-bottom: 0.1em }
strong { font-weight:bold;color:#036; }

.highlight-box {
    border: 2px solid #fc0;
    background:#ffd;
    padding-top:0.2em;padding-bottom:0.2em;
}

/* Our own styling */
.choice-block {
    margin:0.6em 0;
    vertical-align:middle;
}

/* Prose description to the right of the big buttons "Sign in" and "Cancel" */
.choice-description {
    /*float:left;*/
}
.grid { text-align:center; margin:0; padding:0 }
table.grid { border-right:2px solid #fc0; border-bottom:2px solid #fc0 }
td.grid { border-left:2px solid #fc0; border-top:2px solid #fc0; padding:0.2em }
th.grid {
    border-left:2px solid #fc0; border-top:2px solid #fc0;padding:0.2em;
    color:#036;font-weight:bold;
}

.prefs { 
    margin: 0; 
    padding: 0; 
    border-color: #fc0;
    border-style: solid;
    border-width: 0;
}
table.prefs { 
    border-bottom-width:  2px; 
}
td.prefs { 
    border-left-width: 2px;
    border-top-width:  2px; 
    padding: 0.2em; 
    text-align: center;
}
td.prefs-desc { 
    border-color: #fc0;
    border-style: solid;
    border-left-width: 2px;
    border-top-width:  2px; 
    border-bottom-width:  0; 
    border-right-width:  0; 
    padding: 0.2em; 
    text-align: left;
}
td.prefs-hdr { 
    border-color: #fc0;
    border-style: solid;
    border-left-width: 2px;
    border-top-width:  2px; 
    border-bottom-width:  0; 
    border-right-width:  2px; 
    padding: 0.2em;
    padding-left: 0.4em;
}
td.prefs-edit { 
    border-color: #fc0;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width:  2px; 
    border-bottom-width:  0; 
    padding:0.2em 
}
td.prefs-val { 
    border-color: #fc0;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 2px;
    border-top-width:  2px; 
    border-bottom-width:  0; 
    padding: 0.2em;
    text-align: center;
}
td.prefs-confirm { 
    border-color: #fc0;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width:  2px; 
    border-bottom-width:  0; 
    padding:0.2em;
    text-align: center;
}
td.prefs-col { 
    border-color: #fc0;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 2px;
    border-top-width:  0; 
    border-bottom-width:  0; 
    padding:0.2em 
}
td.prefs-blank { 
    border-width: 0px;
    text-align: center;
    padding:0.2em 
}

div.check {
    margin:0.1em 0;
    padding:2px;
}

.link-button {
    border:2px outset #036; background: #fff; color: #036;
    /* float:left; */ /* uncomment this if we use two-line choice-descriptions */
    cursor:default;

    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    margin: 0.2em 0.8em 0.2em 0;
    padding: 0.3em 0.5em;
    vertical-align:middle;
    text-decoration: none; font-weight:bolder; font-size:110%;
}

.link-button:hover {
    border: 2px inset #024; background: #ccc; color:#024;
    /* border: 2px inset #000; background: #dda; color:#000; */
    /* padding trick to shift text down slightly on mouseover */
    /* padding: 0.36em 0.44em 0.24em 0.56em; */
}

/* gradient buttons that degrade reasonably */
#yes { /* yellow-green gradient, light at top */
    background: #dfb;
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddffbb',endColorstr='#88dd99');
    background: -webkit-gradient(linear, left top, left bottom, from(#dfb), to(#8d9));
    background: -moz-linear-gradient(top, #dfb, #8d9);
}
#yes:hover { /* reverse gradient, slightly darker, for dynamic 3D effect */
    background: #be9;
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77cc88',endColorstr='#cceeaa');
    background: -webkit-gradient(linear, left top, left bottom, from(#5c6), to(#be9));
    background: -moz-linear-gradient(top, #5c6, #be9);
}

#no { /* pink */
    background: #fcd;
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffccdd',endColorstr='#bb8899');
    background: -webkit-gradient(linear, left top, left bottom, from(#fcd), to(#b89));
    background: -moz-linear-gradient(top, #fcd, #b89);
}
#no:hover {
    background: #b89;
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa7788',endColorstr='#eebbcc');
    background: -webkit-gradient(linear, left top, left bottom, from(#a78), to(#ebc));
    background: -moz-linear-gradient(top, #a78, #ebc);
}

#other {
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cccccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -moz-linear-gradient(top, #fff, #ccc);
    /* grey text & border to be less obtrusive? */
    border-color: #666;
    color: #444
}
#other:hover {
    /* gradient - ie, webkit, mozilla */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb',endColorstr='#eeeeee');
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#eee));
    background: -moz-linear-gradient(top, #bbb, #eee);
    border-color: #555;
    color: #333;
}