<!--include:head.html-->
<h1>Identity Management</h1>

<p>
Your are logged in as <!--username-->.  To access a different account,
<a href="logout">logout</a> and login again.
</p>

<center>
<a href="prof">Profile</a> | <a href="prefs">Privacy Preferences</a> | Certificate | <a href="/purse/password.jsp">Password</a>
</center>

<h2><!--title--></h2>
    <blockquote>
<p>
Some desktop applications require an X.509 certificate--a special packet of
data that represents your identity--to be loaded into them so that they can
connect to secured services.  Similarly, some web applications require such a
certificate to be loaded into your browser.  This page can provide you with
such a certificate.  If you are not sure what this is, then you probably
don't need one.
</p>
<p>
This service lets you create and download a USVAO X.509 certificate plus
private key suitable for loading into applications that run directly on your
machine&#8212;such as a web browser.  This will be a so-called
"end-entity" certificate (i.e. not a proxy).  It can be delivered along with
its associated private key in either
<a href="http://en.wikipedia.org/wiki/PKCS">PKCS12</a>
or <a href="http://en.wikipedia.org/wiki/X.509#Certificate_filename_extensions">PEM</a>
format.
</p>
    </blockquote>
    <!--feedback-->
    <br>

<form action="<!--action-->" method="POST">
<blockquote>
    <input type="hidden" name="origin" value="cred">
   <table width="100%" cellspacing="0" cellpadding="0" border="0">
     <tr>
        <td>Lifetime: </td>
        <td><select name="lifehours">
              <option selected value="8760">1 year</option>
              <option value="720">1 month</option>
              <option value="24">1 day</option>
              <option value="12">12 hours</option>
              <option value="3">3 hours</option>
            </selected> </td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>The time before 
            the certificate expires</em></font></td>
     </tr>
     <tr>
        <td nowrap="1">Package Key: &nbsp;&nbsp; </td>
        <td><input type="password" name="pkcskey" size="12"></td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>A password for 
            sealing the credential file that will be downloaded.  You will need 
            this when you load the certificate into your application.
            </em></font></td>
     </tr>
     <tr>
	<td nowrap="1">Format:</td>
        <td>
	  <label accesskey="k"><input type="radio" name="format" value="PKCS12" checked title="PKCS12"/> PKCS12</label>
	</td>
        <td>&nbsp;&nbsp;</td>
        <td>
	  <font color="green" size="-1"><em>Preferred by browsers and Java.</em></font>
	</td>
     </tr>
     <tr>
	<td></td>
        <td>
	  <label accesskey="m"><input type="radio" name="format" value="PEM" title="PEM"/> PEM</label>
	</td>
        <td>&nbsp;&nbsp;</td>
        <td>
	  <font color="green" size="-1"><em>Commonly used by grid computing tools.</em></font>
	</td>
     </tr>
     <tr>
        <td nowrap="1">Account Password: &nbsp;&nbsp; </td>
        <td><input type="password" name="password"></td>
        <td>&nbsp;&nbsp;</td>
        <td><font color="green" size="-1"><em>The password to your account
            </em></font></td>
     </tr>
     <tr>
        <td></td>
        <td colspan="3">
	  <input type="hidden" name="format" value="pkcs12"/>
	  <input type="submit" value="Download Credential"/>
	</td>
     </tr>
   </table>

   <p>
   <a href="/help/manage.html#cert" target="_help">More help on downloading credentials...</a>
   </p>
</blockquote>
</form>

<p id="demo">This is a paragraph.</p>

<p>
<script language="javascript">
document.getElementById("demo").innerHTML=Date();
</script>
</p>
<!--include:foot.html-->
