<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Replicate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Replicate.Properties.Settings>
      <setting name="repeatDelay" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="harvest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="replicate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dbAdmin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SqlAdminConnection" serializeAs="String">
        <value></value>
      </setting>
      <setting name="log_location" serializeAs="String">
        <value>d:\webdata\vao</value>
      </setting>
      <setting name="baseURL" serializeAs="String">
        <value>http://vaodev.stsci.edu/directory</value>
      </setting>
      <setting name="repeat" serializeAs="String">
        <value>False</value>
      </setting>
    </Replicate.Properties.Settings>
  </applicationSettings>
</configuration>
