<p>
    This page shows the profile data about you which you provided to us.
We will share this information with portals that you visit <em>only after
you give explicit permission.</em>  (See the <a href="prefs">Privacy
Preferences page</a> to change any default privacty preferences you
have set earlier.)  
</p>

<p>
To update this information, edit any of the fields, <strong>enter your
VAO password</strong>, and click the "Update" button.  If you edit
your email address, be sure to enter the same new address into both
email address fields.  
</p>

