<!--include:head.html-->
<div class="main-content">

<h2>Log in to <!--relyingPortal--> with your VAO identity</h2>

<blockquote>
    <form method="post" id="login_form" action="<!--action-->">
    <table border="0">
    <!--feedback-->
    <tr>
        <label>
            <td style="color:#359;font-weight:bold">VAO Username &nbsp; &nbsp; </td>
            <td><!--name--></td>
        </label>
    </tr>
    <tr>
        <td style="color:#359;font-weight:bold">Password</td>
        <td>
            <input type="password" name="password" id="password_input" onfocus="this.select()"/>
            <input type="hidden" name="interactive" value="true"/>
            <input type="hidden" name="logout" id="logout" value="false"/>
            <input type="submit" value="Sign in"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div style="font-size:75%">
                <a href="/register/register.jsp<!--returnto-->">register</a> |
                <a href="/register/password.jsp">forgot password</a> |
                <a href="/register/password.jsp">change password</a> |
                <a href="/register/resend.jsp">resend registration</a>
            </div>
        </td>
    </tr>
    </table>
    </form>

</blockquote>

<div class="divider"><hr noshade="noshade" /></div>

<h4>Caution: You are using a development/test Login Server</h4>
<p>
    This server is not intended for production use; do not use it to connect to VAO portals.
    For more information, see our summary on
    <a href="/">VAO Logons</a>.  
</p>

</div>
<!--include:foot.html-->
