<?xml version="1.0"?>
<configuration>
	<!--==================-->	
	<!-- Log4net Settings -->
	<!--==================-->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Mashup.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
			</layout>
		</appender>
    	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      		<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%d %20.20c{1} %-20.20M [%-5.5p] %m%n"/>
      		</layout>
    	</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<threshold value="FATAL"/>
			<to value="##########@txt.att.net" />
			<from value="mashup@stsci.edu" />
			<subject value="Mashup Error Occurred" />
			<smtpHost value="smtp.stsci.edu" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout">
        		<conversionPattern value="%property{log4net:HostName} : %d %20.20c{1} %-20.20M [%-5.5p] %m%n "/>
      		</layout>
		</appender>
    	<root>
			<!-- Logging Levels: DEBUG, INFO, WARN, ERROR, FATAL   -->
			<!-- NOTE: Lower level also include all higher levels  -->
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
      		<appender-ref ref="TraceAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>
	</log4net>
	<!--==========================================================================================================================-->
	<!-- Uploader App Settings:                                                                                                   -->
	<!-- MailTo:				Email Address for Uploader Exceptions                                                             -->
	<!-- MailFrom:				Email Sender for Uploader Exceptions                                                              -->
	<!-- MailSmtpServer:	    Email Smtp Server used for emails                                                                 -->
	<!--==========================================================================================================================-->
	<appSettings>
		<add key="MailTo" value="rogers@stsci.edu" />
		<add key="MailFrom" value="mashup@stsci.edu" />
		<add key="MailSmtpServer" value="smtp.stsci.edu" />
	</appSettings>
	<system.web>
		<!--==========================================-->
		<!-- Maximum Request Size, Connection Timeout -->
		<!--==========================================-->
		<httpRuntime maxRequestLength="1048576" executionTimeout="86400"/>
		<!--=================================-->
		<!-- Allow for GET and POST Requests -->
		<!--=================================-->
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<!--===============================-->
    	<!-- Debugging under Visual Studio -->
		<!--===============================-->
		<compilation debug="true">
			<assemblies>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.ServiceModel.Web, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>