<!--include:head.html-->

<h2>Manage your USVAO Identity</h2>
<blockquote>
        <p>
            Hello, <!--name--> (to access a different account, <a href=?logout=true>sign out</a> of this account).
            <!--adminLink-->
        </p>

    <p>
        You can manage your account using the links below.
    </p>

    <p>
        For more information, contact <a href="mailto:rplante@ncsa.uiuc.edu">Ray Plante</a>.
    </p>
</blockquote>
<blockquote>
    <table cellpadding="0" cellspacing="5" border="0">
        <tr>
            <td><a href="prof/">Profile</a></td>
            <td>Manage your profile (email, phone, delegated security credentials, etc.).</td>
        </tr>
        <tr>
            <td><a href="prefs/">Permissions</a></td>
            <td>Manage what information about you portals have access to (email, phone, delegated security credentials, etc.).</td>
        </tr>
        <tr>
            <td><a href="cred/">Credential</a></td>
            <td>Download an End Entity Certificate and private key to authenticate to grid services.</td>
        </tr>
        <tr>
            <td><a href="/purse/password.jsp">Password</a></td>
            <td>Change your password or request a reminder email.</td>
        </tr>
    </table>
</blockquote>

<!--include:foot.html-->
