<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntegrityReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IntegrityReport.Properties.Settings.SqlConnection"
      connectionString="" />
    <add name="IntegrityReport.Properties.Settings.SqlAdminConnection"
      connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- connection string for Log table-->
    <!--This should be a read-only user. -->
    <add key="SqlConnection.String" value=""/>
    
    <add key="dbAdmin" value=""/>
    <add key="baseURL" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <IntegrityReport.Properties.Settings>
      <setting name="dbAdmin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="baseURL" serializeAs="String">
        <value></value>
      </setting>
      <setting name="oaiURL" serializeAs="String">
        <value>oai.aspx</value>
      </setting>
    </IntegrityReport.Properties.Settings>
  </applicationSettings>
</configuration>
