body { margin: 0; padding: 0; }

.status_fade_1 { filter:alpha(opacity=90); opacity:0.9; }
.status_fade_2 { filter:alpha(opacity=80); opacity:0.8; }
.status_fade_3 { filter:alpha(opacity=70); opacity:0.7; }
.status_fade_4 { filter:alpha(opacity=60); opacity:0.6; }
.status_fade_5 { filter:alpha(opacity=50); opacity:0.5; }
.status_fade_6 { filter:alpha(opacity=40); opacity:0.4; }
.status_fade_7 { filter:alpha(opacity=30); opacity:0.3; }
.status_fade_8 { filter:alpha(opacity=20); opacity:0.2; }
.status_fade_9 { filter:alpha(opacity=10); opacity:0.1; }
.status_fade_10 { filter:alpha(opacity=0); opacity:0; }
.status {
	background: #ffee88;
    margin: 0.2em 0.2em 0;
    padding: 0.1em;
	text-align:center;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.top { background:#bef; padding: 0.3em; border-bottom: 1px #46a solid; }
h1 { margin:0; padding:0; font-size:medium; font-family:sans-serif; }
