<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>PURSE</display-name>
    <description>
        NVO PURSE registration portal
    </description>

    <servlet>
        <servlet-name>emailexists</servlet-name>
        <servlet-class>org.globus.purse.registration.EmailExistsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>emailexists</servlet-name>
        <url-pattern>/emailexists/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
