  <tr id="<!--portalName-->">
    <td class="prefs" title="<!--portalDesc-->"><!--portalName--></td>
    <td class="prefs"><a href="javascript:void(0)" onclick="return editPrefs(this);">Edit</a></td>
    <td class="prefs-val"><!--usernamePref--></td>
    <td class="prefs-val"><!--namePref--></td>
    <td class="prefs-val"><!--emailPref--></td>
    <td class="prefs-val"><!--institutionPref--></td>
    <td class="prefs-val"><!--phonePref--></td>
    <td class="prefs-val"><!--countryPref--></td>
    <td class="prefs-val" style="border-right-width: 2px;"><!--credsPref--></td>
    <td class="prefs-confirm"><!--confirmPref--></td>
  </tr>
