<!--include:head.html-->
<h1><!--title--></h1>
<form method="post" action="<!--action-->">
    <input type="hidden" name="origin" value="prof">
    <blockquote>
        <p>
            Hello, <!--name-->.
            To access a different account, <a href=?logout=true>sign out</a>.
            <!--adminLink-->
        </p>
        <!--pageExplanation-->
    </blockquote>
    <!--feedback-->
    <br>
    <p style="text-align:center;">
        <table style="margin-left: auto; margin-right:auto;">
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>First Names or Initials:</strong></td>
            <td><input type="text" name="fname" value="<!--fname-->"></td>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Last Name:</strong></td>
            <td><input type="text" name="lname" value="<!--lname-->"></td>
        </tr>
        <tr>
        <td valign="top"><font color="green"></font></td>
        <td><strong>Institution/Company (if applicable):</strong></td>
            <td><input type="text" name="institution" value="<!--institution-->"></td>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Email Address:</strong></td>
            <td><input type="text" name="email" value="<!--email-->"></td>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Phone Number:</strong></td>
            <td><input type="text" name="phone" value="<!--phone-->"></td>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Country: </strong></td>
            <td><select id="countrySelect" name ="country"></select>
              <script language="javascript">initCountry('<!--country-->');</script><br>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Username: </strong></td>
            <td><!--username--></td>
        </tr>
        <tr>
        <td valign="top"><font color="green">*</font></td>
        <td><strong>Current Password: </strong></td>
            <td><input type="password" name="password"></td>
        </tr>
        </table>
    <!--feedback-->
        <br>
    </p>
<p id="demo">This is a paragraph.</p>

<script language="javascript">
document.getElementById("demo").innerHTML=Date();
</script>
    <p style="text-align:center;">
        <input type="submit" value="Update"></p>
</form>
<!--include:foot.html-->
