<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!--headstart-->
<title>VAO Login - <!--title--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="Shortcut Icon" href="<!--rootPath-->favicon.ico">
<!-- <link href="https://sso.us-vo.org/sso.css" type="text/css" rel="stylesheet"> -->
<link href="sso.css" type="text/css" rel="stylesheet">
<link href="<!--rootPath-->openid.css" type="text/css" rel="stylesheet">
<BASE HREF="<!--baseUrl-->" >

<script type= "text/javascript" src = "/purse/countries.js"></script>
</head>
<body padding="0" margin="0">

<table width="100%" id="nav-head" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td id="nav-ul"></td>
  <td></td>
  <td id="nav-ur"></td>
 </tr><tr>
  <td id="nav-menu">
     <ul>
       <li><a href="/">About VAO Logins</a></li>
       <li><a href="/register.jsp">Get a VAO Login</a></li>
       <li><a href="/openid/">Profile and Preferences</a></li>
       <li><a href="/doc/">Support VAO Logins</a></li>
     </ul>
  </td>
  <td id="nav-logo" align="center" valign="top">
     <a href="http://www.usvao.org"><img src="VAOwords_200.png" /></a>
  </td>
  <td id="nav-menu">
     <ul>
       <li><a href="http://www.usvao.org/">VAO Home</a></li>
       <li><a href="http://www.usvao.org/tools/">Science Tools</a></li>
       <li><a href="http://www.usvao.org/about.html">About the VAO</a></li>
       <li><a href="http://www.usvao.org/news.cfm">VAO News</a></li>
       <li><a href="http://www.usvao.org/contact.php">Contact and Connect</a></li>
     </ul>
  </td>
 </tr><tr>
  <td id="nav-bl"></td>
  <td></td>
  <td id="nav-br"></td>
 </tr>
</table>


