<tr><td></td><td class="grid" colspan="5">
    <table>
        <tr>
            <td rowspan="2"><strong>Filter portals:</strong>&nbsp;&nbsp;</td>
            <td>Approved:</td>
            <td><label><input type="radio" name="showApproved" value="all" <!--checkedShowApprovedAll-->>All</label></td>
            <td><label><input type="radio" name="showApproved" value="true" <!--checkedShowApprovedTrue-->>Approved only</label></td>
            <td><label><input type="radio" name="showApproved" value="false" <!--checkedShowApprovedFalse-->>Unapproved only</label></td>
            <td rowspan="2">&nbsp;&nbsp;<input type="submit" value="Update"></td>
        </tr>
        <tr>
            <td>Active:</td>
            <td><label><input type="radio" name="showActive" value="all" <!--checkedShowActiveAll-->>All</label></td>
            <td><label><input type="radio" name="showActive" value="true" <!--checkedShowActiveTrue-->>Active only</label></td>
            <td><label><input type="radio" name="showActive" value="false" <!--checkedShowActiveFalse-->>Inactive only</label>
        </tr>
    </table>
</td></tr>