<!--include:head.html-->

<h2>Manage your USVAO Identity</h2>
<blockquote>
        <p>
            Hello, <!--name--> (to access a different account, <a href=?logout=true>sign out</a> of this account).
            <!--adminLink-->
        </p>

    <p>
        You can manage your account using the links below.
    </p>

</blockquote>
<blockquote>
    <table cellpadding="0" cellspacing="5" border="0" width="100%">
        <tr>
            <td valign="top" width="20%"><a href="prof">Profile</a></td>
            <td></td>
            <td>View and update our information about you (email, institution, phone, etc.).</td>
        </tr>
        <tr>
            <td valign="top"><a href="prefs">Privacy Preferences</a></td>
            <td></td>
            <td>Manage what information about you that portals have access to (email, phone, delegated security credentials, etc.).</td>
        </tr>
        <tr>
            <td valign="top"><a href="cred">Certificate</a></td>
            <td></td>
            <td>Download an End Entity Certificate and private key to authenticate to grid services.</td>
        </tr>
        <tr>
            <td valign="top"><a href="/register/password.jsp">Password</a></td>
            <td></td>
            <td>Change your password or request a reminder email.</td>
        </tr>
    </table>
</blockquote>

<p>
<a href="/help/manage.html">Learn more about managing your VAO identity.</a>
</p>


<!--include:foot.html-->
