
.tac { font-family: arial,serif;  background-color: black;  background: black;  color: white;  background-color: #FFFFCC; }
.report { font-family: arial,serif;  background-color: black;  background: black;  color: green;  background-color: #FFFFCC; }


.critMessage { font-family:arial;  text-align: left;  color: red;  font-weight: bold;  font-size: 12;}
.warningMessage {font-family:arial;  text-align: left;  color: orange; font-weight: bold; font-size: 12;}
.passedMessage {font-family:arial;  text-align: left;  color: green; font-weight: bold; font-size: 12;}

.title { text-align: center;  font-family: arial;  font-weight: bold;  font-size: large;  background-color: #5188A9;  color: white; }
.titleblue { text-align: center;  font-family: arial;  font-weight: bold;  font-size: large;  background-color: #198EB8;  color: white; height:19px;}

.tred { text-align: center;  font-family: arial;  font-weight: bold;  font-size: small;  background-color: #F84871;  color: white; height:9px;}
.tblue { text-align: center;  font-family: arial;  font-weight: bold;  font-size: small;  background-color: #198EB8;  color: white; height:9px;}

.titlered { text-align: center;  font-family: arial;  font-weight: bold;  font-size: large;  background-color: #F84871;  color: white; height: 19px;}
.titleredb { text-align: center;  font-family: arial;  font-weight: bold;  font-size: large;  background-color: #F2EAB6;  color: green; height: 19px;}
.titleredc { text-align: center;  font-family: arial;  font-size: small;  background-color: #B0205A;  color: white; height: 19px;}
.titleblueb { text-align: center;  font-family: arial;  font-size: small;  background-color: #198EB8;  color: white; height: 19px;}
.titlebrown{ text-align: left; font-family: arial; font-size: small; background-color: #A49D9D; height 9px;}

.title_a { text-align: center;  font-family: arial;   font-size: medium;  background-color: #5188A9;  color: white; }
.entry { text-align: center;  font-family: arial;   font-size: small;  background-color: #5188A9;  color: white; }
.greenln { text-align: center;  font-family: arial;   font-size: small; color: green; }
.greenlnextra {text-align: left; font-family:arial;  font-size: small; color: green;}

.titleItem { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 10pt;  background-color: black;  color: white; }

.featureTitle { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #999797;  color: black; }
.featureHeader { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #C4C2C2;  color: black; }
.label { text-align: center; font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #C4C2C2;  color: black; }
.noteA { text-align: center; font-family: arial;     background-color: #F2F5A9;  color: green;}
.noteB { text-align: center; font-family: arial;      background-color: #FFFFCC;  color: green;}
.noteC { text-align: center; font-family: arial;      background-color: #FFFFCC;  color: red;}
.nonactive{ font-family: arial; background-color: #F2EAB6; color:green;}
.active { font-family: arial; background-color: #FFFFCC; color:green;}




.featureEnabled { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #ccffcc;  color: #8f8f8f; }
.featureDisabled { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #ffcccc;  color: #b3b3b3; }

.hostTitle { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #999797;  color: black; }
.hostHeader { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #C4C2C2;  color: black;  text-decoration: none; }

.hostImportantProblem { text-align: left;  font-family: arial;  font-size: 10pt;  background-color: #ff0000;  color: black; }
.hostUnimportantProblem { text-align: left;  font-family: arial;  font-size: 10pt;  background-color: #ffcccc;  color: black; }

.serviceTitle { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #999797;  color: black; }
.serviceHeader { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 12pt;  background-color: #C4C2C2;  color: black;  text-decoration: none; }


.portal { text-align: center;  font-family: arial;  font-weight: bold;  font-size: 10pt;  background-color: #999797;  color: black; }
.servicename {text-align: left; font-family:arial; font-size: 10pt; color: blue;}

.testTitle  {text-align: left; font-family:arial; font-size: 12pt; background-color: #5188A9;  color: black; font-weight: bold}

 
